.link {
  background-color: rgba(27, 27, 179, 1);
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(9, 9, 116, 0.5);
}

.link > a {
  color: #f7f7f7;
  display: block;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 0.9rem;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}

.link > a:hover {
  background-color: #f7f7f7;
  color: rgba(27, 27, 179, 1);
}
