.workplace {
  margin: 0px auto;
  margin-top: 20px;
  width: 98%;
}

.workplace-actives {
  background-color: #f7f7f7;
  border: 1px solid rgba(9, 9, 116, 0.1);
  min-width: 100%;
}

.workplace-actives-header {
  align-items: center;
  background-color: #1b1bb3;
  border: none;
  border-radius: 5px 5px 0 0;
  display: flex;
  height: 30px;
}

.workplace-actives-header > h2 {
  color: #f7f7f7;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.75rem;
  padding-left: 30px;
  text-transform: uppercase;
}

.workplace-actives-userInfo {
  margin: 30px 0 30px 30px;
}

.userInfoFIO {
  display: flex;
  margin-bottom: 10px;
}

.userInfoFIO:last-child {
  margin-bottom: 0;
}

.staticInfo {
  font-weight: 600;
}

.dynamicInfo {
  margin-left: 20px;
}
